<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>QueenSkin Project</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>qse</string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.auri.queenskin.project</string>
      </array>
      <key>CFBundleTypeIconFiles</key>
      <array>
        <string>qse-document</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>qse-document</string>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.auri.queenskin.project</string>
      <key>UTTypeDescription</key>
      <string>QueenSkin Editor Project File</string>
      <key>UTTypeIconFile</key>
      <string>qse-document</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>qse</string>
        </array>
        <key>public.mime-type</key>
        <string>application/x-queenskin-project</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
